<!-- DP What are data structures, and why are they important  -->

## **THEORY QUESTIONS**

## **1.What are data structures, and why are they important?**

A data structure is a specialized format for organizing, processing, retrieving and storing data.

There are several basic and advanced types of data structures, all designed to arrange data to suit a specific purpose.

such as - Lists,Set,Tuples,String,Dictionary

why ?

Data structures make it easy for users to access and work with the data they need. Most importantly, data structures frame the organization of information so that machines and humans can better understand it.

### **2.Explain the difference between mutable and immutable data types with examples ?**

Mutable Data Types:

Mutable data types allow modifications to their values after they are created. Changes are made directly to the object itself, without creating a new one.
The original object can be changed.

Examples: Lists, dictionaries, and sets are all mutable.


Immutable Data Types:

Immutable data types do not allow changes to their values once created. Any attempt to modify them results in creating a new object.
A new object is created to reflect any change, leaving the original object untouched.

 Examples: Strings, tuples, and numbers (integers, floats, etc.) are immutable.

In [ ]:
#mutable data type
my_list = [1, 2.4 ,3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

[10, 2.4, 3]

In [ ]:
#immutable data type
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # Raises a TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

### **3.What are the main differences between lists and tuples in Python ?**
LISTS -

A list in Python is a versatile, ordered collection of items that can hold elements of different data types. Lists are commonly used to store collections of related data, allowing for easy access, modification, and iteration over the elements. They are especially useful for handling dynamic data where the number of items can change, such as user inputs, data streams, or any sequence of items needing processing.

syntax contains square brackets [].

lists have a dynamic length.

fruits = ["apple", "banana", "cherry"]

print(fruits[0]) #output = 'apple'


TUPLES -

A tuple in Python is an ordered collection of items that is immutable, meaning its elements cannot be changed after the tuple is created. Tuples are used to store collections of heterogeneous data and are particularly useful for representing fixed sequence data types that should not be modified. They are often used for grouping related pieces of data, such as coordinates, database records, or any set of values that belong together.

syntax contains parenthesis ().

tuples have a fixed length .

For example:

coordinates = (10.0, 20.0)

print(coordinates[0]) # Output: 10.0

### 4.Describe how dictionaries store data ?

Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionary is an example of a hash table. The algorithm used to store and access keys in a hash table, along with their associated values, is designed to be very flexible and fast. It is flexible in that it allows a dictionary to contain keys of a wide variety of types.

Fastest data structure among all and use in final code writing .

In [ ]:
my_dist = {"key-course": "data analyst" ,"institute": "pwskills" ,"duration": 6}
print(my_dist)

{'key-course': 'data analyst', 'institute': 'pwskills', 'duration': 6}

### 5.Why might you use a set instead of a list in Python ? ###
Since sets do not store indexed data or duplicates, they use less memory than lists and are less computationally expensive. As a result, sets take less time to search through. To test this, the code below performs two membership tests. In one case, the container is a list and in the other, it's a set.Sets are good for picking out collections of things based on categorical groupings. So we use set instead of a list in Python.

### **6.What is a string in Python,and how is it different from a list?**

In Python,a string is a sequence of characters enclosed in single or double quotes, while a list is a sequence of items enclosed in square brackets and separated by commas.

A string can only contain characters, whereas a list can hold any data type, including other lists. Additionally, strings are immutable or cannot be changed after creation, while lists are mutable or can be modified.

In [ ]:
#example of string -
my_string = "pwskills"
print(my_string)

pwskills

In [ ]:
#example of list -
my_list = [1,2,3.5,"soumyaray"]
print(my_list)

[1, 2, 3.5, 'soumyaray']

### **7.How do tuples ensure data integrity in Python ?**

Data Integrity -It ensures that data remains accurate and uncorrupted from its original state during storage, processing, retrieval, and transmission.

Tuples are immutable to ensure that their contents remain constant throughout their lifecycle,guaranteeing data integrity and reliability.

Tuples are almost identical to lists, so they contain an ordered collection of elements, except for one property: they are immutable.
 We would use tuples if we needed a data structure that, once created, cannot be modified anymore. Furthermore, tuples can be used as dictionary keys if all the elements are immutable.

### **8.What is a hash table, and how does it relate to dictionaries in Python?**

A hash table is an efficient way to store and retrieve data using key-value pairs.

In Python, the dictionaries data type is built on top of a hash table implementation.When you create a dictionary, Python uses a hash function to calculate a hash code for each key. This allows for very fast retrieval of values by using the key as input to the hash function.

In [ ]:
my_dict = {"soumya":1,"Ajay":2}
# When you access a value, Python uses the hash function to find the "bucket"
# where "soumya" and its value 1 are stored
value = my_dict["soumya"]
print(value)

1

### **9.Can lists contain different data types in Python ?**

A list is a data structure in Python that is a mutable,or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item.
Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ] .
So lists can contain different data types in Python.

In [ ]:
#yes lists can contain different types of data ?
my_list = [1,2,3.5,"soumyaray"]
print(my_list)

[1, 2, 3.5, 'soumyaray']

### **10.Explain why strings are immutable in Python?**

"immutable" which means they cannot be changed after they are created.

In Python, strings have the property of immutability which means they cannot be mutated or changed. You can assign strings to variables, and reassign new strings to the same variable, but individual characters within a string cannot be reassigned.

In [ ]:
#string is immutable
s="pwskills"
s[0]="a"
#throw an error

TypeError: 'str' object does not support item assignment

### **11.What advantages do dictionaries offer over lists for certain tasks ?**

Dictionaries offer several advantages over lists, primarily for tasks involving fast data retrieval and key-value association. Dictionaries use hash tables for quick access to values based on keys, while lists require sequential traversal, making dictionary lookups significantly faster. Dictionaries also allow for flexible and dynamic data organization and manipulation, making them suitable for various programming tasks like data processing and web developmen

Dictionaries in Python are mutable, meaning you can add, update, or remove key value pairs as needed, providing flexibility in managing data and case sensitive.

### **12.Describe a scenario where using a tuple would be preferable over a list?**

Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change.

 Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

 Tuples are faster than lists. Tuples make the code safe from any accidental modification. If a data is needed in a program which is not supposed to be changed, then it is better to put it in 'tuples' than in 'list'.

 EXAMPLE- Your aadhar number and pan number and your permanent house addresss. In these cases we use tuple instead of list.

### **13.How do sets handle duplicate values in Python?**

Sets are used to store multiple items in a single variable.Set items are unordered, unchangeable and do not allow duplicate values.
We use {} brackets for set .

In [ ]:
#example of set (how to handel duplicate values)
s1={ 1,2,2,2,3,4,5,5}
print(s1)

{1, 2, 3, 4, 5}

### **14.How does the “in” keyword work differently for lists and dictionaries ?**

The 'in' operator is used to check if a value exists within a sequence like a list and  dictionary.

It returns True if the value is found in the sequence, and False otherwise.

In [ ]:
#in keyword in list
my_list = [1, 2, 3]

if 3 in my_list:
    print("3 is in the list")
else:
    print("3 is not in the list")

3 is in the list

In [ ]:
#in keyword in dictionary
my_dict = {"a": 1, "b": 2, "c": 3}

if "b" in my_dict:
    print("The key 'b' is in the dictionary")

The key 'b' is in the dictionary

In [ ]:
#in keyword in list
a={"pwskills"}
"z" in a

False

In [ ]:
#in keyword in dictionary
a={"pwskills":1}
"pwskills" in a

True

### **15.Can you modify the elements of a tuple? Explain why or why not ?**

No,we cannot directly modify the elements of a tuple once it has been created.

Because tuples are immutable data structures, meaning their contents cannot be changed after they are defined.

example - Aadhar card ,pan card, emp-id once defined should not be edited and can't change.

In [ ]:
#tuples are immutable
emp_name=("soumya","rahul")
type(emp_name)
emp_name[0]="ajay"
emp_name
#so it throw an error

TypeError: 'tuple' object does not support item assignment

### **16.What is a nested dictionary, and give an example of its use case?**

A nested dictionary is a dictionary where one or more of its values are themselves dictionaries.SO ,it's a collection of dictionaries into one single dictionary.

It's like having a dictionary inside another dictionary and allowing you to store hierarchical or multi-layered data.

 A use case is representing an employee directory where each employee has details stored as a nested dictionary, organized by department.

In [ ]:
#nested dictionary
pwskill_dict = {
    "employee1": {
        "name": "soumya",
        "age": 28,
        "department": "operation"
    },
    "employee2": {
        "name": "ajay",
        "age": 30,
        "department": "sales"
    }
}
print(pwskill_dict)

# here name = key word and soumya = key value and
 # employee 1 and 2 both are dictionary
 # pwskill_dist is nested dictionary

{'employee1': {'name': 'soumya', 'age': 28, 'department': 'operation'}, 'employee2': {'name': 'ajay', 'age': 30, 'department': 'sales'}}

### **17.Describe the time complexity of accessing elements in a dictionary .**

Dictionaries, often implemented as hash tables, use a hash function to map keys to their corresponding values' storage locations. This allows for direct access to elements without needing to search through the entire dictionary.

Accessing an element in a dictionary typically has a time complexity of O(1) (constant time) on average.

In [ ]:
my_dict = {"soumya": 1, "hari": 2, "rout": 3}
value = my_dict["hari"] # Accessing the value associated with the key "hari"
print(value) # Output: 2
#In this example, regardless of how many key-value pairs are in my_dict,
#accessing the value for "hari" takes roughly the same amount of time.

2

### **18.In what situations are lists preferred over dictionaries ?**

 For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

 Lists are preferred when -

Order matters,
Sequential access,
Append/extend operations,
Simple data storage .

### **19.Why are dictionaries considered unordered, and how does that affect data retrieval?**

Dictionaries are considered unordered because they store data as key-value pairs without maintaining any inherent order of insertion.

This means that when you retrieve data from a dictionary, the order of the elements returned will not necessarily match the order in which they were added.

That affect data retrieval --  relying on key-based access rather than indexing, making it impossible to access elements by their position.

### **20.Explain the difference between a list and a dictionary in terms of data retrieval.**

Data retrieval means obtaining data from a database .

In data storage and retrieval, a dictionary differs from a list by using key-value pairs for storage and retrieval, while a list uses sequential indexing.

Dictionaries offer faster lookup times for retrieving data by key, whereas lists are better for ordered data and sequential access.

Data Retrieval:

Lists: Access elements by their index (position) in the list.

Dictionaries: Access values by their corresponding keys.

# #**PRATICAL QUESTIONS**

In [ ]:
#1.Write a code to create a string with your name and print it?

my_name = "Soumyaray"
print(my_name)

Soumyaray

In [ ]:
#2.Write a code to find the length of the string "Hello World".

my_string = "Hello World"
len(my_string) #or we can write print(len(my_string))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?

my_string = "Python Programming"
my_string[0:3] # here 0 = include and 3 = exclude and it's print to the postion place 2

'Pyt'

In [ ]:
#4.Write a code to convert the string "hello" to uppercase ?

my_string = "hello"
my_string.upper() # here .upper funtion is used

'HELLO'

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

my_string = "I like apple"
my_string.replace("apple","orange") # here .replace funtion is used to replace a old data to new data

'I like orange'

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1,2,3,4,5]
print(my_list) # In list we always use [] bracket

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1,2,3,4]
my_list.append(10)
print(my_list) # here .append is used for add a new nub in list

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5] .

my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list) # here .remove is used for remove a new nub in list
               # .pop(2) function also used for remove the number 3

[1, 2, 4, 5]

In [ ]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ["a","b","c","d"]
my_list[1] # here second element in the placed in the 1st memory block

'b'

In [ ]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50]?

my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list) # here .reverse is used for reverse a list

[50, 40, 30, 20, 10]

In [ ]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100,200,300)
print(my_tuple) # In tuple we always use () bracket

(100, 200, 300)

In [ ]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

my_tuple = ("red","green","blue","yellow")
my_tuple[1:] # here second-to-last element of the tuple
             # 1 =access the 2nd elemnt and blank = to last element

('green', 'blue', 'yellow')

In [ ]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

my_tuple = (10,20,5,15)
min(my_tuple)# here .min is used for find the minimum number in the tuple
              # To find the maximum number .max is used in the tuple

5

In [ ]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

my_tuple = ("dog","cat","rabbit")
my_tuple.index("cat") # here .index is used for find the index of the element in the tuple

1

In [ ]:
#15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

my_tuple = ("apple","watermelon","kiwi")
"kiwi" in my_tuple # here in (membership) operator is used
#if output is true = kiwi is present in tuple
#if output is flase = kiwi is not present in the tuple

True

In [ ]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it ?

my_set = {"a","b","c"}
print(my_set) # In set we always use {} bracket

{'a', 'b', 'c'}

In [ ]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5} .

my_set = {1,2,3,4,5}
my_set.clear()
print(my_set) # here .clear is used for clear all elements from the set

set()

In [ ]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1,2,3,4}
my_set.discard(4)
print(my_set) # here .discard is used for remove the element from the set
              # we can also use .remove function but .pop is not working in the set

{1, 2, 3}

In [ ]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
set1|set2 # here we can use | = pipe function for union of two sets
# we can also use  .union  for the union of two sets
# and set don't contain duplicate elements here 3 is only one time

{1, 2, 3, 4, 5}

In [ ]:
#20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}
set1&set2 # here we can use & = ampersand function for intersection of two sets
# we can also use  .intersection  for the intersection of two sets
# intersection means only common elements from two sets

{2, 3}

In [ ]:
#21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name":"soumya","age":28,"city":"bhubaneswar"}
print(my_dict) # In dictionary we always use {} bracket
# and both  key : value pair are there in dictionary
#key = name  #value = soumya

{'name': 'soumya', 'age': 28, 'city': 'bhubaneswar'}

In [ ]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?

my_dict = {'name':'John','age':'25'}
my_dict["country"] = "USA"
print(my_dict) # here we can add a new key-value pair "country": "USA"
               #now  it contain new key-value pair

{'name': 'John', 'age': '25', 'country': 'USA'}

In [ ]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
my_dict["name"] # here we can access the value associated with the key "name"
                #In dictionary both key and value are associated

'Alice'

In [ ]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict["age"]
print(my_dict) # here we use delete funtion (del)to remove the key "age" from the dictionary
#only age not remove both age and 22 are removed because age:22 key-value pair

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
"city" in my_dict # here in (membership) operator is used
#if output is true = city is present in dictionary
#if output is flase = city is not present in the dictionary

True

In [ ]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [('a',1),('b',2),('c',3)]
my_tuple = (1,2,3)
my_dict = {'a':1,'b':2,'c':3}
print(my_list)
print(my_tuple)
print(my_dict)

[('a', 1), ('b', 2), ('c', 3)]
(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}

In [ ]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

a = [12,4,18,33,45]
a.sort()
print(a) # here .sort is used for ascending order in the list

[4, 12, 18, 33, 45]

In [2]:
#28.Write a code to create a list with strings and print the element at the third index .

my_list = ["ram","hari","krishna","basudev"]
print(my_list[2]) # here we can print the element at the third index
                  #[2]=index position of the list

krishna

In [ ]:
#29.Write a code to combine two dictionaries into one and print the result .

dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
dict1.update(dict2)
print(dict1) # here .update is used for combine two dictionaries into one

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [1]:
#30.Write a code to convert a list of strings into a set.

my_list = ["soumya","ray"]
my_set = set(my_list)
print(my_set) # here set() is used for convert a list of strings into a set

{'ray', 'soumya'}